bcrypt==3.1.4
bottle==0.12.13
Django==2.1.2
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-PyMongo==2.1.0
Flask-SocketIO==3.0.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
neo4j-driver==1.7.1
numpy==1.14.3
py==1.5.3
pymongo==3.7.2
PySocks==1.6.8
python-socketio==2.0.0
Werkzeug==0.14.1